{
    "my_project": "infra-project",
    "my_images": "base-image",
    "machines": "f1-micro",
    "connection_name": "appuser",
    "my_image_description": "Test description",
    "my_disk_type": "pd-standard",
    "disk_size_for_base_image": "10",
    "default_network": "default",
    "puma_tags": "some_tags"
}
