{
    "project_id": "infra-project",
    "img_family": "base-image",
    "src_img_family": "ubuntu-1604-lts",
    "connection_name": "appuser",
    "machine_type": "f1-micro",
    "b_image_desc": "Test description",
    "disk_type": "pd-standard",
    "disk_size": "10",
    "default_network": "default",
    "u_tags": "some_tags"
}
